
  <app-restaurant></app-restaurant>

  <div class="modal-container">
    <div class="modal-main modal-close">
      <div class="text-main">
        <div class="modal-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non numquam sunt nisi corporis placeat sit nemo cum! Quidem expedita esse suscipit, enim quas incidunt repellendus quos, iste sit officiis ullam!</p>
        </div>
        <div class="button-interaction">
          <button><i class="fas fa-heart text-white"></i></button>
          <button><i class="far fa-calendar-check text-white"></i></button>
        </div>
      </div>
      <div class="image-modal">
        <img src="../../../assets/img/restaurant.jpg" alt="">
        <h4>La Bocana</h4>
        <div class="ratings">
          <i class="fas fa-star"></i>
          <span>4.8</span>
        </div>
        <div class="info-additional">
          <div class="icon-title">
            <i class="fas fa-ticket-alt text-white"></i>
            <span>Reservas</span>
          </div>
          <div class="icon-title">
            <i class="fas fa-car text-white"></i>
            <span>Parqueadero</span>
          </div>
        </div>
      </div>
    </div>
  </div>


