section{
	background-color: #1d1d1d;
	background-image: -webkit-linear-gradient(43deg, #1d1d1d 0%, #464646 46%, #191919 100%);
	background-image: -moz-linear-gradient(43deg, #1d1d1d 0%, #464646 46%, #191919 100%);
	background-image: -o-linear-gradient(43deg, #1d1d1d 0%, #464646 46%, #191919 100%);
	background-image: linear-gradient(43deg, #1d1d1d 0%, #464646 46%, #191919 100%);
	width: 100.9vw;
	height: 100vh;
  }
  hr{
	color: hsl(0, 100%, 77%);
	min-width: 80.5vw;
  }
  .menuser{
	border-radius: 30px;
	border: none;
	font-size: 15px;
	background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
	box-shadow: 0px 100px 80px rgba(255, 136, 136, 0.07), 0px 41.7776px 33.4221px rgba(255, 136, 136, 0.0503198), 0px 22.3363px 17.869px rgba(255, 136, 136, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 136, 136, 0.035), 0px 6.6501px 5.32008px rgba(255, 136, 136, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 136, 136, 0.0196802);
  }
  .menuitem{
	color: #fff;
  }
  .menuitem:hover{
	border-radius: 40px;
	background: linear-gradient(90deg, #ffc1c1 0%, #ffd1b4 100%);
	box-shadow: 0px 100px 80px rgba(255, 136, 136, 0.07), 0px 41.7776px 33.4221px rgba(255, 136, 136, 0.0503198), 0px 22.3363px 17.869px rgba(255, 136, 136, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 136, 136, 0.035), 0px 6.6501px 5.32008px rgba(255, 136, 136, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 136, 136, 0.0196802);
  }
  .filter{
      height: 490px;
      overflow: scroll;
  }
  ::-webkit-scrollbar{
    color: #ffffff;
  }
  ::-webkit-scrollbar-corner{
    color: #ffffff;
  }


  .btn-dash{
	display: flex;
	align-items: center;
	font-family: inherit;
	font-weight: 500;
	font-size: 15px;
	color: white;
	background: none;
	border: none;
	border-radius: 40px;
   }

   .btn-dash i{
	margin-right: 1px;
	transform: rotate(0deg);
	transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }

   .btn-dash span {
	transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   .btn-dash:hover {
	background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
	box-shadow: 0px 100px 80px rgba(255, 136, 136, 0.07), 0px 41.7776px 33.4221px rgba(255, 136, 136, 0.0503198), 0px 22.3363px 17.869px rgba(255, 136, 136, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 136, 136, 0.035), 0px 6.6501px 5.32008px rgba(255, 136, 136, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 136, 136, 0.0196802);
   }
   .btn-dash:hover i {
	transform: translateX(5px) rotate(90deg);
   }

   .btn-dash:hover span {
	transform: translateX(7px);
   }
  h1{
	font-size: 25px;

  }

  .navbar-toggler{
	color: #ffffff;
  }

  .sidebar{
	width: auto;
	height: 100vh;
	position: fixed;
	height: 100;
	background: #212121;
	border-radius:80px;
	z-index: 100;
	transition: width 300ms;

  }
  .sidebar-brand{
	height: 200px;
	padding: 50px;
  }

  .main-content{
	transition: margin-left 300ms;
	margin-left: 245px;

  }
  .sidebar-menu li{
	width:100%;
	margin-bottom: 1.3rem;
	list-style: none;
  }

  .sidebar-menu span{
	color: #fff;
	font-size: 16px;
	padding: 15px;
  }

  #nav-toggle{
	display:none;
  }
  #nav-toggle:checked + .sidebar{
	width: 120px;
  }
  #nav-toggle:checked ~ .main-content{
	margin-left: 120px;
  }

  #nav-toggle:checked + .sidebar .sidebar-menu{
	padding-right: 3rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand span:last-child,
  #nav-toggle:checked + .sidebar .sidebar-menu  ul li span:last-child{
	display: none;

  }

  @media only screen and (min-width: 1250px){
    hr{
      margin-top: 0;
    }
    h1{
      padding-left: 10%;
      font-size: 30px;
      padding-right: 45%;
      margin-top: 5px;
    }
    .hamburguer{
      font-size: 30px;
    }
    .belldash{
      padding-left: 10%;
      font-size: 30px;
      padding-right: 1%;
      margin-top: 5px;
    }
    .userpro{
      margin-top: 5px;
    }
  }


  @media only screen and (max-width: 1200px){
	#nav-toggle{
	  display:none;
	}
	.sidebar{
	  width: 120px;
	}
	.sidebar .sidebar-brand span:last-child,
	.sidebar .sidebar-menu  ul li span:last-child{
	  display: none;
	}
	.main-content{
	  margin-left: 120px;
	}

  }
  @media only screen and (max-width: 768px){
	.sidebar{
	  left: -100%;
	}
	header{
	  padding-right: 0rem;
	  margin-left: -110px;
	}
	#nav-toggle:checked + .sidebar{
	  left: 0;
	  z-index: 100;
	  width: auto;
	  margin-top: 50px;
	}
	#nav-toggle:checked + .sidebar span{
	  padding: 5px;
	}
	section{
		height: 100%;
		width: 99.3vw;
	}
	.categories-md{
		margin-top: 0;
	}
  }

  @media (min-width: 770px){
	.categories-md{
		margin-top: 5rem;
	}
  }

  .restaurants img{
	  max-width: 100%;
	  min-width: 100%;
  }
