<!-- <main class="bg">
	<div class="po">
		<div class="tx">
			<p>En <strong>GoProof</strong> no solo encontraras restaurantes <br /> tambien encontraras el amor por la
				comida.
			</p>
		</div>
		<div class="bk">
			<img src="../../../assets/img/bk_bfl.png" alt="">
		</div>
		<div class="im">
			<img src="../../../assets/img/6.svg" alt="">
		</div>
		<div class="log">
			<img src="../../../assets/img/Component_16.png" alt="">
		</div>
		<div class="d-flex">
			<button type="button" class="btn bg-bt mt-5 me-5 rounded-pill" routerLink="../landing">Ingresar a
				GoProof</button>
		</div>
	</div>
</main> -->

<main class="bg">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">

				<div class="tx">
					<p>En <strong>GoProof</strong> no solo encontraras restaurantes
						<br> tambien encontraras el amor por la comida.
					</p>
				</div>

				<!-- Button -->
				<div>
					<button type="button" class="btn bg-bt mt-5 me-5 rounded-pill" routerLink="../landing">
						Ingresar a GoProof
					</button>
				</div>
				<!-- Button end -->

			</div>
			<div class="col-12 col-md-6">

				<div class="bg-2"></div>

				<div class="log">
					<img src="../../../assets/img/logonew.svg" alt="">
				</div>

				<div class="im">
					<img src="../../../assets/img/6.svg" alt="">
				</div>

			</div>
		</div>
	</div>
</main>
