/* main {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  overflow: hidden;
}

.bg {
  background: linear-gradient(to right, #232526, #414345);
  height: 100vh;
}

.tx {
  margin-top: 75%;
  color: white;
  font-size: 20px;
}

.bg-bt {
  background: linear-gradient(to right, #DE6262, #FFB88C);
  color: #fff;
  box-shadow: 0 5px 30px -5px rgba(255, 136, 136, 0.07), 0 10px 30px -5px rgba(255, 136, 136, 0.0503), 0 15px 30px -5px rgba(255, 136, 136, 0.0417), 0 20px 30px -5px rgba(255, 136, 136, 0.035), 0 25px 30px -5px rgba(255, 136, 136, 0.0283), 0 0px 30px -5px rgba(255, 136, 136, 0.0197);
  padding: 10px;
  min-width: 40%;
  font-size: 15px;
  margin-inline: 20%;
}

.bg-2 {
  background-image: url("../../../assets/img/bk_bfl.png");
  height: 100vh;
  opacity: 40%;
  width: 80vh;
  margin-left: -5rem;
  object-fit: cover;
  border-radius: 0% 0% 0% 15%;
  box-shadow: -5px 0px 30px 30px;
}

.log img {
  position: absolute;
  top: 5rem;
  left: 38rem;
  filter: drop-shadow(-25px 10px 15px #232526);
  width: 50%;
}

.im img {
  position: absolute;
  top: 18rem;
  left: 40rem;
  width: 45%;
  filter: drop-shadow(-25px 0px 15px #232526);
}

@media (max-width:800px) {
  .bg {
    min-height: 100%;
  }

  .tx {
    padding-inline: 1rem;
    margin-top: 40%;
    text-align: center;
  }

  .bg-bt {
    padding: 5px;
    min-width: 35%;
    margin-inline: 30%;
    margin-bottom: 5rem;
  }

  .bg-2 {
    height: 100vh;
    max-width: 100%;
    margin-left: 0;
    border-radius: 0% 20% 0% 0%;
  }

  .log img {
    top: 5rem;
    left: 0;
    margin-inline: 25%;
    width: 50%;
  }

  .im img {
    top: 35rem;
    left: 22%;
    width: 60%;
  }
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
  align-items: center;
}
section h2{
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);

}
section p{
  font-weight: 300;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}
section img{
  height: 60%;

}
section a{
  display: inline-block;
  padding: 7px 0 ;
}
.container-text{
  margin-left: 70px;
}
#sec1{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#sec2{
  background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);

}
#sec3{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.logo{
  padding-bottom: 50px;
}
button{
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  color: white;
  background: none;
  border: none;
  border-radius: 40px;
  padding: 20px;
 }

 button svg{
  margin-right: 1px;
  transform: rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }

 button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 button:hover {
  background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
  box-shadow: 0px 100px 80px rgba(255, 136, 136, 0.07), 0px 41.7776px 33.4221px rgba(255, 136, 136, 0.0503198), 0px 22.3363px 17.869px rgba(255, 136, 136, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 136, 136, 0.035), 0px 6.6501px 5.32008px rgba(255, 136, 136, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 136, 136, 0.0196802);
 }
 button:hover svg {
  transform: translateX(5px) rotate(90deg);
 }

 button:hover span {
  transform: translateX(7px);
 }
 .imgBx img{
  animation: animate 3s linear infinite;
  }
  @keyframes animate{
      0%, 100%{
          transform: translateY(50px)
      }
      50%{
          transform: translateY(100px);
      }

  }
