<!-- <main class="bg">
	<div class="po">
		<div class="tx">
			<p>En <strong>GoProof</strong> no solo encontraras restaurantes <br /> tambien encontraras el amor por la
				comida.
			</p>
		</div>
		<div class="bk">
			<img src="../../../assets/img/bk_bfl.png" alt="">
		</div>
		<div class="im">
			<img src="../../../assets/img/6.svg" alt="">
		</div>
		<div class="log">
			<img src="../../../assets/img/Component_16.png" alt="">
		</div>
		<div class="d-flex">
			<button type="button" class="btn bg-bt mt-5 me-5 rounded-pill" routerLink="../landing">Ingresar a
				GoProof</button>
		</div>
	</div>
</main> -->
<!--
<main class="bg">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">

				<div class="tx">
					<p>En <strong>GoProof</strong> no solo encontraras restaurantes
						<br> tambien encontraras el amor por la comida.
					</p>
				</div>

				< Button>
				<div>
					<button type="button" class="btn bg-bt mt-5 me-5 rounded-pill" routerLink="../landing">
						Ingresar a GoProof
					</button>
				</div>
				<Button end >

			</div>
			<div class="col-12 col-md-6">

				<div class="bg-2"></div>

				<div class="log">
					<img src="../../../assets/img/logonew.svg" alt="">
				</div>

				<div class="im">
					<img src="../../../assets/img/6.svg" alt="">
				</div>

			</div>
		</div>
	</div>
</main>  -->
<main class="body">
  <section id="sec1">
    <div class="container-text">
      <img src="../../../assets/img/logonew.svg" alt="" width="500px" class="logo">
        <p>Goproof es el mejor buscador de restaurantes y lugares perfectos para ti, tu familia y amigos!!</p>
        <a href="Mas info"></a>
        <button class="cssbuttons-io-button" routerLink="/landing"> Disfruta GoProof
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
    </div>
    <div class="imgBx">
      <img src="../../../assets/img/pizza.svg" alt="" >
    </div>

  </section>
  <section id="sec2">
    <div class="container-text">
      <h2>Es muy facil de usar!!</h2>
      <p>Solo debes registrarte y activar tu ubicación para que Goproof te muestre los mejores lugares!!
      </p>
      <a href="Mas info"></a>
      <button class="cssbuttons-io-button" routerLink="/landing"> Disfruta GoProof
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
  </div>
  <div class="imgBx">
    <img src="../../../assets/img/11.svg" alt="" >
  </div>

  </section>
  <section id="sec3">
    <div class="container-text">

      <h2>No te la pierdas!</h2>
      <p>Los mejores lugares te esperan!!
        podrás reservar y redimir tus puntos para adquirir beneficios de infarto.
      </p>
      <a href="Mas info"></a>
      <button class="cssbuttons-io-button" routerLink="/landing"> Disfruta GoProof
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
  </div>
  <div class="imgBx">
  <img src="../../../assets/img/todos.svg" alt="" width="800px">
</div>
  </section>
</main>
