<main class="bg">

  <div class="comp-top">
    <img src="../../../assets/img/Component 6.png" alt="">
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn bg-bt mt-5 me-5 rounded-pill">Saltar</button>
  </div>

  <div class="text-center">
    <p class="me-5">Bienvenido a</p>
    <div class="logo d-flex justify-content-center">
      <img src="../../../assets/img/logonew.svg" class="img-fluid img-res
	  " alt="">
    </div>
    <p class="slogan">"The proof is in th pudding"</p>
</div>

  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="lang-button btn bg-bt mt-5 me-5 rounded-pill"  routerLink="/auth">Ingresar</button>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="lang-button-two btn bg-bt mt-3 me-5 rounded-pill" routerLink="/auth/registro">Registrarte</button>
  </div>

  <div class="comp-bot">
    <img src="../../../assets/img/Component 3.png" alt="">
  </div>

</main>
