/* content card */
.contenedor{
  position: absolute;
  top: 15%;
  left: 25%;
  width: 70vw;
}
.izq h1{
  margin-left: 5vw;
  font-weight: bold;
}
.izq {
  padding-top:3vh;
  color: rgb(255, 255, 255);
  margin-top: 10vh;
}
.progress{
  width: 75%;
  margin-left: 2vw;
}
h4{
  color: rgb(255, 255, 255);
  font-size: auto;
  margin-left: 3vw;
}
.medal{
  margin-left: 6vw;
  font-size: 7rem;
  color: rgb(255, 255, 255);
}
/* earn and redeem */
.navigation{
  display: flex  ;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
  border-radius: 23px;
}
.navigation ul{

  padding: 1px;
  display: inline-flex;
  width: 20px;
}
.navigation ul li{
  margin-right: 5vw;
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
.icon{
  font-size: 2rem;
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  color: rgb(255, 142, 142);
}

.navigation ul li:hover a .icon {
  transform: translateY(35px);
  color: orange;
}
.navigation ul li a .text {
  position: absolute;
  color: rgb(255, 132, 132);
  font-weight: 400;
  font-size: 1rem;
  transition: 0.5s;
  opacity: 0;
}

.navigation ul li:hover a .text{
  opacity: 1;
  transform: translateY(-10px);
}
/* lista rest */
.infoe{
  display: flex;
  margin-top: -4%;
  width: 40vw;
  opacity: 1;
}
.infoe ul{
  text-align: right;
  justify-content: right;
}
.infoe li{
  list-style: none;
  padding: 5px;
  position: relative;
  display: flex;
  width: 45vw;
  text-align: center;
}

.infoe ul li .text{
  color: rgb(248, 248, 248);
  font-weight: 400;
  font-size: 1rem;
  transition: 0.5s;
  display:flex;
  margin-left: 10%;
}
.img{
  font-size: 2rem;
  position:relative;
  display: flex;
  line-height: 75px;
  border-radius: 40px;

}
.img-res{
  border-radius: 40px;
}

.infoe ul li .rest{
  display: flex;
  position: relative;
}
.infoe ul li span i{
  color: rgb(255, 138, 138);
  font-size: 3rem;
  display: flex;
  align-items:center;
  justify-content: right;
}
.infoe ul li .point{
  margin-left: 10px;
  color: aliceblue;
}
/* card */
.card {
  top:50px;
  width: 300px;
  height: 450px;
  background-image: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
  border-radius: 20px;
  transition: all .3s;
 }

 .card2 {
   top: 50px;
  width: 300px;
  height: 450px;
  background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
  box-shadow: 0px 100px 80px rgba(255, 136, 136, 0.07), 0px 41.7776px 33.4221px rgba(255, 136, 136, 0.0503198), 0px 22.3363px 17.869px rgba(255, 136, 136, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 136, 136, 0.035), 0px 6.6501px 5.32008px rgba(255, 136, 136, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 136, 136, 0.0196802);
  border-radius:20px;
  transition: all .2s;
 }

 .card2:hover {
  transform: scale(0.99);
  border-radius: 20px;
 }

 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 51, 0, 0.3);
 }
