<div class="body">
  <div class="main">


<div class="signup">
  <form [formGroup]="miFormulario" (ngSubmit)="registro()">
    <label for="" aria-hidden="true" class="labelsig">
      Sign up
    </label>
    <input type="text"   formControlName="name" placeholder="name" required="">
    <input type="email"  formControlName="email" placeholder="email" required="">
    <input type="password" formControlName="password" placeholder="password" required="">
    <button  type="submit" [disabled]="miFormulario.invalid">sign up</button>
    <div class="regis">
      <p>ya tienes cuenta?</p>
    </div>
    <div class="regis">
      <p><a routerLink="/auth">INGRESA AQUI</a> </p>
    </div>

  </form>
</div>
</div>
</div>
