<app-dashboard title="Beneficios"></app-dashboard>
<section class="body">
  <div class="c">

    <input type="radio" name="a" id="cr-1" checked>
    <label for="cr-1" style="--hue: 32"></label>
    <div class="ci" style="--z: 4">
      <h2 class="ch" style="--h: 32; --s: 80%; --l: 90%">.</h2>
      <img src="../../../assets/img/promo1.png" alt="">
    </div>

    <input type="radio" name="a" id="cr-2">
    <label for="cr-2" style="--hue: 82"></label>
    <div class="ci" style="--z: 3">
      <h2 class="ch" style="--h: 82; --s: 80%; --l: 90%">.</h2>
      <img src="../../../assets/img/promo2.png" alt="">
    </div>

    <input type="radio" name="a" id="cr-3">
    <label for="cr-3" style="--hue: 40"></label>
    <div class="ci" style="--z: 2">
      <h2 class="ch" style="--h: 40; --s: 100%; --l: 89%">.</h2>
      <img src="../../../assets/img/promo3.png" alt="">
    </div>

    <input type="radio" name="a" id="cr-4">
    <label for="cr-4" style="--hue: 210"></label>
    <div class="ci" style="--z: 1">
      <h2 class="ch" style="--h: 210; --s: 70%; --l: 90%">.</h2>
      <img src="../../../assets/img/promo4.png" alt="">
    </div>
  </div>
  </section>
  <section class="body2">
    <div class="card">
      <div class="blob">
        <img src="../../../assets/img/3.svg" alt="" width="120px" height="200px" class="imgc">
      </div>
        <span class="img"></span>
        <h2>Beneficios<br><span></span></h2>
        <button class="p"> Ver Mas
        </button>
      </div>
      <div class="card">
          <div class="blob">
            <img src="../../../assets/img/2.svg" alt="" width="120px" height="200px" class="imgc">
          </div>
            <span class="img"></span>
            <h2>Descuentos<br><span></span></h2>
            <button class="p"> Ver Mas
            </button>
          </div>
          <div class="card">
            <div class="blob">
              <img src="../../../assets/img/1.svg" alt="" width="120px" height="200px" class="imgc">
            </div>
              <span class="img"></span>
              <h2>Cupones<br><span></span></h2>
              <button class="p"> Ver Mas
              </button>
            </div>
  </section>
