<div class="containerPrincipal">
  <div class="containerBackProfile">
    <div class="edit-form">
      <h1 class="titleInfo">Mi Información</h1>
      <form action="" method="post">
        <p>
          <label>Nombre</label>
          <input type="text" name="nameUser">
        </p>
        <p>
          <label>Email</label>
          <input type="email" name="emailUser">
        </p>
        <p>
          <label>Trabajo</label>
          <input type="email" name="jobUser">
        </p>
        <p>
          <label>Contacto</label>
          <input type="tel" name="contactUser">
        </p>

        <button class="block">Actualizar Información</button>
      </form>
    </div>
  </div>
</div>

