.body{
    position: absolute;
    top: 80px;
    left: 300px;
    color: aliceblue;


}
.card{
    margin-left: 10vw;
    width: 50vw;
    height: 30vh;
    border-radius: 40px;
    background-image: linear-gradient(43deg, #1d1d1d 0%, #464646 46%, #191919 100%);
    padding: 20px;
    text-align: center;
    transition: all 0.2s linear;
}
.card:hover{
    transition: 0.3s;
    background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
}
.back{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 70vw;
    height: 35vh;
    border-radius: 50px;
    margin-left: 1vw;
    z-index: 1;
}
.imagen{
    padding-left: 720px;
    width: 70vw;
    background-size: cover;
    height: 20vh;
    border-radius: 50px;
    margin-left: 5vw;

}
.logo{
    margin-top: 10vh;
    width: 25vw;
    border-radius: 50px;
    z-index: 5;
}
.descrip{
  margin-top: -80px;
  width: 700px;

}
.desc{
    font-weight: 400;

}
.tittle{

    text-align: center;
    margin-left: 0;
}
p{
    font-weight: bold;
    font-size: 20px;
}

/* From cssbuttons.io by @Jedi-hongbin */
.backrest {
    bottom: 75vh;
    right: 15vw;
    position: absolute;
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
    color: whitesmoke;
    border-radius: 40px;
   }

   .backrest  svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
    font-weight: bold;
    color: rgb(255, 255, 255);
   }

   .backrest:hover > svg {
    font-size: 1.2em;
    transform: translateX(-10px);
   }

   .backrest:hover {
    background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
    transform: translateY(-5px);
   }
   .info-res{
    position: absolute;
    bottom: -250px;
    right: 57vw;
    background-color: #1d1d1d;
    width: 300px;
    height:200px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .visit{
    position: absolute;
    bottom: -320px;
    right: 7vw;
   }
   h6{
     color: rgb(255, 255, 255);
     font-size: 18px;
   }
  i{
    padding-right: 10px;
    color: #ffa0a0;
  }

  .btn-visit{
    display: flex;
    height: 4em;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #DE6262 0%, #FFB88C 100%);
    color: whitesmoke;
    border-radius: 40px;
   }

   .btn-visit svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 25px;
    transition: all 0.4s ease-in;
    font-weight: bold;
    color: rgb(255, 255, 255);
   }

   .btn-visit:hover > svg {
    font-size: 1.2em;
    transform: translateX(-10px);
   }

   .btn-visit:hover {
    background: linear-gradient(90deg, #ff7e7e 0%, #ffc8a6 100%);
    transform: translateY(-5px);
   }
.carru{
  width: 520px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  right: 24vw;
  border-radius: 40px;
}
.carruousel{
  border-radius: 40px;
}
.carru2{
  width: 350px;
  height: 200px;
  position: absolute;
  bottom: -2px;
  right: 20vw;
  border-radius: 40px;
}
.carruousel2{
  border-radius: 40px;
}
.star{
  color: rgb(255, 151, 151);


}
.btn-opi{
  background: linear-gradient(90deg, #ff7e7e 0%, #ffc8a6 100%);
  border-radius: 40px;
}
.modal1{
  border-radius: 40px;
  background: linear-gradient(90deg, #ff7e7e 0%, #ffc8a6 100%);
  color: white;
  font-size: 16px;
  padding: 10px;
}
.infomodal{
  font-size: 12px;
  font-weight: 200;
}
h2{
  font-weight: 300;
  font-size: 25px;
}
.codigo{
  font-size: 40px;
  font-weight: bold;
}
.btn-modal{
  color: white;
  background-color: #181717;
  border-radius: 40px;
  border: none;
  width: 100px;
  height: 50px;
}
.btn-modal:hover{
  background-color: #DE6262;
}
