<app-dashboard  title= {{dataRestaurant.nombre}}></app-dashboard>
<div class="body">
  <div class="imagen">
      <!--<img src="https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-food-food-snack-eating-goods-image_14522.jpg" class="back" alt="">-->
      <img src="{{dataRestaurant.ciudad}}" class="logo"alt="">

  </div>
  <div class="descrip">
    <p class="desc">{{dataRestaurant.descripcion}}<br></p>
  <!--<h2>{{dataRestaurant.menu}}</h2>-->
  </div>
  <div>
    <h4><i class="fa-solid fa-star   star"></i> 4.5
    </h4>
  </div>

  <div class="info-res">
    <h6> <i class="fa-solid fa-champagne-glasses"></i>{{dataRestaurant.categoria}}</h6>
      <h6> <i class="fa-solid fa-mobile-screen-button"></i>  {{dataRestaurant.numero}}</h6>
      <h6> <i class="fa-solid fa-car"></i>{{dataRestaurant.parqueadero}}</h6>
      <h6> <i class="fa-solid fa-sun"></i> {{dataRestaurant.horario}}</h6>
  </div>
 <div class="visit">
   <button class="btn-visit" data-bs-toggle="modal" data-bs-target="#exampleModal">
     <span>visitar</span>
   </button>
 </div>

 <div id="carouselExampleInterval" class="carousel slide carru" data-bs-ride="carousel">
  <div class="carousel-inner carruousel">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../assets/img/food1.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/img/food2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/food3.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/food4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/food5.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
<button routerLink="/restaurants" class="backrest">
  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
  <span>Back</span>
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content modal1">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Redime este código en el restaurante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex ">
        <img src="../../../assets/img/2.svg" alt="" width="200px">
        <span>
          <h2>Tu codigo es</h2>
        <h1 class="codigo">234567</h1>
        <p class="infomodal">Guarda este codigo para acumular Gopruntos</p>
        </span>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn-modal" (click)="guardaCodigo()">Guardar</button>
      </div>
    </div>
  </div>
</div>
