<app-dashboard title="Mi perfil"></app-dashboard>
<div class="body">
<div class="card">
    <div class="card-header">
        <img src="{{usuario.profile}}" alt="Profile Image" class="profile-img">
    </div>
    <div class="card-body">
        <p class="name">{{ usuario.name }}</p>
        <a href="#" class="mail">{{usuario.email}}</a>
        <!-- <p class="job">Developer | Designer</p> -->
    </div>

    <div class="social-links">
        <a href="#" class="fab fa-github social-icon"></a>
        <a href="#" class="fab fa-twitter social-icon"></a>
        <a href="#" class="fab fa-youtube social-icon"></a>
        <a href="#" class="fab fa-linkedin social-icon"></a>
    </div>

    <div class="card-footer">
        <p class="count"><span>120k</span> Followers | <span>10k</span> Following</p>
    </div>
</div>
</div>
<!--<div class="body2">
    <div class="container">
        <form action="">
            <div class="row">
                <h4>Account</h4>
                <div class="input-group-icon">
                    <input type="text", placeholder="Full Name">
                    <div class="input-icon">
                        <i class="fa-user"></i>
                    </div>
                </div>
                <div class="input-group-icon">
                    <input type="email",placeholder="Email Adress">
                    <div class="input-icon">
                        <i class="fa-envelope"></i>
                    </div>
                </div>
                <div class="input-group-icon">
                    <input type="password",placeholder="Password">
                    <div class="input-icon">
                        <i class="fa-key"></i>
                    </div>
                </div>
            <div class="row">
                <div class="col-half">
                    <h4>Date Of Birth</h4>
                    <div class="input-group">
                        <div class="col-third">
                            <input type="text", placeholder="DD">
                        </div>
                        <div class="col-third">
                            <input type="text", placeholder="MM">
                        </div>
                        <div class="col-third">
                            <input type="text", placeholder="YYYY">
                        </div>
                    </div>
                </div>
                <div class="col-half">
                    <h4>Gender</h4>
                    <div class="input-group">
                        <input type="radio" id="gender-male" name="gender" value="male">
                        <label for="gender-male">Male</label>
                        <input type="radio" id="gender-male" name="gender" value="female">
                        <label for="gender-female">Male</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Payment Details</h4>
                <div class="input-group">
                    <input type="radio" id="payment-method-card"name="payment-method"value="card"checked="true">
                    <label for="payment-method-card">
                        <span><i class="fa-cc-visa">Credit Card</i></span>
                    </label>
                    <input type="radio" id="payment-method-paypal"value="paypal">
                    <label for="payment-method-paypal">
                        <span><i class="fa-cc-paypal">Paypal</i></span>
                    </label>
                </div>
                <div class="input-group-icon">
                    <input type="text"placeholder="Card Number">
                    <div class="input-icon">
                        <i class="fa-credit-card"></i>
                    </div>
                </div>
                <div class="col-half">
                    <div class="input-group-icon">
                        <input type="text"placeholder="Card CVC">
                        <div class="input-icon">
                            <i class="fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="col-half">
                    <div class="input-group">
                        <select name="" id="">
                            <option value="1">Jan</option>
                            <option value="2">Jan</option>
                        </select>
                        <select name="" id="">
                            <option value="">2015</option>
                            <option value="">2016</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Terms and Conditions</h4>
                <div class="input-group">
                    <input type="checkbox" id="terms">
                    <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>-->

<app-update-profile></app-update-profile>
